<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412087927809-gk6v91c5lrkbdje2finr6gke1kaufprn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412087927809-gk6v91c5lrkbdje2finr6gke1kaufprn</string>
	<key>API_KEY</key>
	<string>AIzaSyCKFN-bHIfBV6wfnPpGEDS3erZ2CFLYeJs</string>
	<key>GCM_SENDER_ID</key>
	<string>412087927809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gusadi.Trashure</string>
	<key>PROJECT_ID</key>
	<string>trashure-1b359</string>
	<key>STORAGE_BUCKET</key>
	<string>trashure-1b359.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412087927809:ios:c89af3cb2d8793b36eac00</string>
	<key>DATABASE_URL</key>
	<string>https://trashure-1b359.firebaseio.com</string>
</dict>
</plist>